
<div class="cards">
 
  <div class="card" style="width: 18rem;">
    <img src="../assets/1.jpg" style="width:286px;height:370px" class="card-img-top"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Los Angeles mansion</h5>
      <p class="card-text">R10 000 000</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>



  <div class="card" style="width: 18rem;">
    <img src="../assets/2.jpg" style="width:286px;height:370px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hollywood Celebrities Rush</h5>
      <p class="card-text">R800 000</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../assets/3.jpg" class="card-img-top" style="width:286px;height:370px" alt="...">
    <div class="card-body">
      <h5 class="card-title">Brisbane's LA-style mansion </h5>
      <p class="card-text">R1 500 000</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../assets/4.jpg" style="width:286px;height:370px" class="card-img-top"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Massive modern mansion </h5>
      <p class="card-text">R650 800.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- style="width:286px;height:390px"  -->
 
</div>
