<!-- Outside div -->
<div class="nav">

  <!-- contolling width div -->
  <div class="container">

    <!-- puts them far apart from each other div -->
    <div class="flex">

      <div routerLink="/home" href="" class="logo">INDLU PROPERTY</div>


      <div class="links">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:gray;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Link
        </a>
        
        <ul class="dropdown-menu" style="background-color: gray;">
          <li><a class="dropdown-item" routerLink="/home" href="#">home</a></li>
          <li><a class="dropdown-item" routerLink="/about" href="#">about</a></li>
          <li><a class="dropdown-item" routerLink="/profile" href="#">profile</a></li>
          
     

        </ul>
      </li>
        <!-- <a routerLink="/home"><div class="link" ><i class="fi fi-rr-house-blank"></i> Home  </div></a>
        <a routerLink="/about"><div class="link"><i class="fi fi-rr-comment-question"></i>About</div></a>

        <a routerLink="/profile"><div class="link"><i class="fi fi-rr-user"></i>Profile</div></a>-->
        <a routerLink="/cart"><div class="link"><i class="fi fi-rr-shopping-cart"></i>Cart</div></a> 
      </div>

    </div>
  </div>
</div>
