<!DOCTYPE html>
<html>

<head>
    <title>ABOUT INDLU  PLACE</title>

</head>
<body>
    <p>Indluplace Properties Ltd (“Indluplace”) is a Real Estate Investment Trust (“REIT”), listed on the main board of the JSE, that is focused on the rental residential sector of the South African property market. We pay growing dividendsdistributions to our shareholders from our diverse and growing portfolio.

    </p>
    
    <p>
        The residential sector, and specifically rental residential is hugely under-represented in the South African listed property sector. In developed economies the residential sector is much more prominent in the listed property sectors with comparatively massive funds (REITS) acknowledged for their defensive nature and trading at very competitive yields compared to other sectors. Indluplace was the first rental residential REIT to list in South Africa.
    </p>
    
    <p>
        The world-wide Covid pandemic, subsequent lockdown regulations and a constraint economy had a negative impact on the company’s customers, its tenants.  These events have however highlighted the importance of the rental housing sector with people being forced to work from home (and realising that it can be, in large part effective).  There is still a shortage of well-priced, well managed rental housing in South Africa as evidenced by the relatively low vacancy rates in this market across various rental levels and income groups. There is also good demand for well located, affordable student accommodation.
    
    
    </p>
    <p>
        Indluplace was incorporated as a public company on 3 December 2013. The company’s financial year end is 30 September.
    
    
    </p>
    
</body>
</html>










