<p>
  Published on February 16, 2021
  SONY, ILCE-7M2
  Free to use under the Unsplash License

</p>\

<!-- <div class="card" style="width: 18rem;">
  <img src="../assets/2.jpg" style="width:286px;height:370px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hollywood Celebrities Rush</h5>
    <p class="card-text">R800 000</p>
   </div>
</div> -->

<div class="bg-image"
      style="background-image: url('https://images.unsplash.com/photo-1613490493576-7fde63acd811?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80'); height: 100vh;">
     
</div>
